<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <h4>Address</h4>
                <p>16 Jl. Raya Sukaraja,<br>Megamendung, Jawa Barat</p>
                <br>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15854.178242192022!2d106.8557194!3d-6.6453089!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69c88c970a4fdb%3A0xb22604f6f5e0142d!2sJl.+Raya+Sukaraja+No.16,+Cipayung+Datar,+Kec.+Megamendung,+Kabupaten+Bogor,+Jawa+Barat+16770!5e0!3m2!1sid!2sid!4v1753415288701"
                    width="300" height="150" style="border:0;" allowfullscreen loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
            <div class="footer-section">
                <h4>Contact</h4>
                <p>Email:</p>
                <p>raihansingh@gmail.com</p>
                <br>
                <p>Phone:</p>
                <p>081286076677</p>
            </div>
            <div class="footer-section">
                <h4>Follow Us</h4>
                <div class="social-icons">
                    <a href="https://www.instagram.com/woodseekerr?igsh=MXJ5Ym9uaXJ3cHg1Mg==" title="Instagram" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.tokopedia.com/woodseeker?fbclid=PAQ0xDSwKFbAxleHRuA2FlbQIxMQABp7FkLfBrtjlxhmdGNeXx14fC7eo-uusixltfA9Qx2dFWNLfOp1tVtz6fETdL_aem_jJh6KXA5OQGUx15usGqc4w" title="Tokopedia" target="_blank"><i class="fa-solid fa-store"></i></a>
                    <a href="https://www.tiktok.com/@woodseekerr?_t=ZS-8w6CUeFMh6d&_r=1" title="TikTok" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 WOODSEEKER. All rights reserved.</p>
        </div>
    </div>
</footer> 