<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <h4>Address</h4>
                <p>Find us at:</p>
                <p>16 Jl. Raya Sukaraja,<br>Megamendung, Jawa Barat</p>
            </div>
            <div class="footer-section">
                <h4>Contact</h4>
                <p>Email:</p>
                <p>raihansingh@gmail.com</p>
                <p>Phone:</p>
                <p>081286076677</p>
            </div>
            <div class="footer-section">
                <h4>Follow Us</h4>
                <div class="social-icons">
                    <a href="https://www.instagram.com/woodseekerr?igsh=MXJ5Ym9uaXJ3cHg1Mg==" title="Instagram" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.tokopedia.com/woodseeker?fbclid=PAQ0xDSwKFbAxleHRuA2FlbQIxMQABp7FkLfBrtjlxhmdGNeXx14fC7eo-uusixltfA9Qx2dFWNLfOp1tVtz6fETdL_aem_jJh6KXA5OQGUx15usGqc4w" title="Tokopedia" target="_blank"><i class="fa-solid fa-store"></i></a>
                    <a href="https://www.tiktok.com/@woodseekerr?_t=ZS-8w6CUeFMh6d&_r=1" title="TikTok" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 WOODSEEKER. All rights reserved.</p>
        </div>
    </div>
</footer> 