<header class="header"><!-- diperbaiki -->
    <div class="container">
        <div class="logo-container">
            <a href="/" class="logo-group">
                <span class="logo">WOODSEEKER</span>
                <span class="tagline">Define Your Space</span>
            </a>
        </div>        

        <button class="hamburger-menu" aria-label="Toggle menu">
            <span class="hamburger-icon"></span>
        </button>
        <nav class="nav-menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/pages/about.html">About</a></li>
                <li><a href="/pages/catalog.html">Catalog</a></li>
                <li><a href="/pages/b2b.html">B2B</a></li>
                <li><a href="/pages/contact.html">Contact Us</a></li>
                <!-- <li class="mobile-only"><a href="/pages/admin/login.html" class="user-icon" title="Admin Login">
                    <i class="fas fa-user"></i> Admin Login
                </a></li> -->
            </ul>
        </nav>
        <!-- <div class="user-menu desktop-only">
            <a href="/pages/admin/login.html" class="user-icon" title="Admin Login">
                <i class="fas fa-user"></i>
            </a>
        </div> -->
    </div>
</header> 